***03 Day Starts Here***

# **ðŸ‘‰ Basics Of Variables**

Here I will learn how to declare the variables.

In [ ]:
emp_salary = 10_000_000

In [ ]:
print(f'Employee Salary is {emp_salary}')

Employee Salary is 10000000

In [ ]:
print(f"Employee Salary is {emp_salary}")

Employee Salary is 10000000

In [ ]:
emp_salary = 10_000

***04 Day Starts Here***

# **ðŸ‘‰ What is Variable?**

In [ ]:
EMP_SALARY = 0
EMPSALARY = 90
EMPsalary = 90
empSalary = 90

# 12_abc = 30
# def = 90 -> is a keyword

SyntaxError: invalid decimal literal (<ipython-input-1-edb1323b5e8b>, line 6)

In [ ]:
import keyword

# Get the list of keywords
keywords = keyword.kwlist

# Print the keywords
print(f"Available keywords in Python: {len(keywords)}")
for ksadjfnaskdfhjksadf in keywords:
  print(ksadjfnaskdfhjksadf)

Available keywords in Python: 35
False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

In [ ]:
abc = 90
ABC = 90
print(f"abc is {abc}")
print(abc)

abc is 90
90

# **Data Types**

In [ ]:
num1 = 10 # we are storing int type of value
print(type(num1))

<class 'int'>

In [ ]:
nm = 'abc'
print(type(nm))

<class 'str'>

In [ ]:
speed = 16
tyre_pressure = 2.3
is_safe = False
tyre_mfg = 'Dunlop'

In [ ]:
speed

16

In [ ]:
print(type(speed))
print(type(tyre_pressure))
print(type(is_safe))
print(type(tyre_mfg))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

**Dynamically Typed**

In [ ]:
a = 20
print(type(a)) # a is holding numeric value
a = 'abc'
print(type(a)) # now a is holding text type of data

<class 'int'>
<class 'str'>

**Type Casting**

In [ ]:
a = 10
b = '10'

converted_b = int(b) # type casting
type_of_new_b = type(converted_b)
print(f' Type {type_of_new_b} and Value {converted_b}')

 Type <class 'int'> and Value 10

In [ ]:
color = 10
print(type(color))
str_color = str(color)
print(type(str_color))
print(f'Color is {str_color}')

<class 'int'>
<class 'str'>
Color is 10