# **Methods in Python**

In [ ]:
num1 = 10
num2 = 10

res = num1 + num2 # addition logic
print(res)

20

In [ ]:
num1 = 30
num2 = -34

res = num1 + num2 #addition logic
print(res)

-4

In [ ]:
num1 = 100
num2 = 200

res = num1 + num2 # addition logic
print(res + 1)

301

In [ ]:
# we need a method/function/defination which will accept two numbers
# and perform logic inside that function
def add_numbers(n1, n2):
  r = n1 + n2
  print(r)

In [ ]:
# calling functions
add_numbers(1, 2)
add_numbers(1, 1)
add_numbers(1, -900)

3
2
-899

In [ ]:
def add_numbers_result(n1, n2): # n1 and n2 are input
  r = n1 + n2
  return r # r is output; we are returning the result to caller

In [ ]:
r1 = add_numbers_result(1, 2)
print(r1 + 1)

r2 = add_numbers_result(3, -3)
print(r2 + 1)

r3 = add_numbers_result(-67, -21)
print(r3 + 1)

4
1
-87

In [ ]:
num1 = 90
num2 = 89

add_numbers_result(num1, num2)

179

In [ ]:
def add_five(n1, n2, n3, n4, n5):
  return n1 + n2 + n3 + n4 + n5

In [ ]:
def multiply(n1, n2):
  return n1 * n2

In [ ]:
print(multiply(10, 5))
print(multiply(n1 = 10, n2 = 10)) # named parameters
print(multiply(n2 = 10, n1 = 5)) # named parameters

50
100
50

In [ ]:
def div(n1, n2 = 1): # default argument
  return n1/n2

In [ ]:
print(div(4, 2))
print(div(n1 = 4)) # if you dont pass n2, python will treat it as 1

2.0
4.0

In [ ]:
print(div(n1 = 4, n2 = 78))
print(div(4,78))

0.05128205128205128
0.05128205128205128

# **Operators**

***Arithmatic***

In [ ]:
a = 10
b = 3

print(a + b) # addition
print(a - b) # subtraction
print(a * b) # multiplication
print(a / b) # division
print(a % b) # modulus
print(a // b) # floor division
print(a ** 2) # exponentiation

13
7
30
3.3333333333333335
1
3
100

***Comparision***

In [ ]:
a = 10
b = 30

print(a == b) # equal to
print(a != b) # not equal to
print(a > b) # greater than
print(a < b) # less than
print(a >= b) # greater than or equal to
print(a <= b) # less than or equal to

c = a == b
print(c)

False
True
False
True
False
True
False

***Logical***

In [ ]:
a = 10
b = 40
c = 10

# logical operators
print(a == b and a == c) # and -> get me Tea AND Samosa = both
print(a == b or a == c) # or -> get me Tea OR Samosa = one of it
print(not(a == b)) # not

False
True
True

***Assignment***

In [ ]:
a = 10

a = a ** 2
# a += 1
print(a)

11

In [ ]:
a = 1
b = 9
c = 8

r = a + b * c
print(r)

r = (a + b) * c
print(r)

73
80

# **Sunday Starts Here**

# ***Conditional Statements***

***Simple If .. Else***

In [9]:
bal = 10_000

if bal > 5_000:
  print('Enough Amount')
else:
  print('Penalty')

Enough Amount

***If Else Ladder***

In [11]:
marks = 80

if marks >= 60:
  print('Good Marks')
elif (marks < 60) and (marks >= 50):
  print('Just Pass')
elif (marks < 50) and (marks >= 40):
  print('Pushed to Next Class')
else:
  print('Fail')

Good Marks

***Nesting***

In [14]:
day = 12

if day < 5:
  if day == 1:
    print('off')
  else:
    print('working')
else:
  print('leave')

leave

In [18]:
def convert_to_text_day(day_num = 1):
  if day_num == 1:
    print('Mon')
  elif day_num == 2:
    print('Tue')
  elif day_num == 3:
    print('Wed')
  elif day_num == 4:
     print('Thu')
  elif day_num == 5:
     print('Fri')
  elif day_num == 6:
     print('Sat')
  elif day_num == 7:
    print('Sun')
  else:
     print('Invalid Day')


convert_to_text_day(2)
convert_to_text_day()
convert_to_text_day(90)

Tue
Mon
Invalid Day