# **Day 07 Starts Here**

Data Structures

In [1]:
# I want to strore marks of 5 students

marks1 = 10
marks2 = 20
marks3 = 30
marks4 = 40
marks5 = 50

- List
- Tuple
- Set
- Dictionary

## **List**

In [ ]:
marks = [] # you created the list
marks = [40, 35, 80, 95, 90] # you created the list
print(marks)

[40, 35, 80, 95, 90]

In [ ]:
invoices = [1011, 'abc123', False, 123.88]

print(f'1st Invoice is {invoices[0]}')
print(f'2nd Invoice is {invoices[1]}')

invoices.append(0)
print(invoices)

invoices[4] = 78756

print(invoices)

1st Invoice is 1011
2nd Invoice is abc123
[1011, 'abc123', False, 123.88, 0]
[1011, 'abc123', False, 123.88, 78756]

In [ ]:
ops = ['abc', 'pqr', 'lmn', 'xyz', 'ppp']

print(f'Size {len(ops)}')

print(ops)
ops.append('ccc')
print(ops)

ops.insert(1, 'rrr')
print(ops)

ops.remove('pqr')
print(ops)

ops.pop()
print(ops)

ops.pop(3)
print(ops)

Size 5
['abc', 'pqr', 'lmn', 'xyz', 'ppp']
['abc', 'pqr', 'lmn', 'xyz', 'ppp', 'ccc']
['abc', 'rrr', 'pqr', 'lmn', 'xyz', 'ppp', 'ccc']
['abc', 'rrr', 'lmn', 'xyz', 'ppp', 'ccc']
['abc', 'rrr', 'lmn', 'xyz', 'ppp']
['abc', 'rrr', 'lmn', 'ppp']

In [ ]:
print(ops[1])
print(ops[-1])
print(ops[-2])

rrr
ppp
lmn

## Slicing

In [ ]:
# create list of 20 random numbers
nums = [15, 3, 8, 20, 1, 12, 17, 5, 10, 19, 2, 14, 7, 11, 9, 18, 6, 16, 4, 13]

# start:stop:step

print(nums[3:6])

print(nums[1:19:2])

[20, 1, 12]
[3, 20, 12, 5, 19, 14, 11, 18, 16]

In [ ]:
print(nums[:7])

[15, 3, 8, 20, 1, 12, 17]

In [ ]:
print(nums[::4])

[15, 1, 10, 7, 6]

In [ ]:
print(nums[::])

[15, 3, 8, 20, 1, 12, 17, 5, 10, 19, 2, 14, 7, 11, 9, 18, 6, 16, 4, 13]

In [ ]:
print(nums)
print(nums[:-1])

[15, 3, 8, 20, 1, 12, 17, 5, 10, 19, 2, 14, 7, 11, 9, 18, 6, 16, 4, 13]
[15, 3, 8, 20, 1, 12, 17, 5, 10, 19, 2, 14, 7, 11, 9, 18, 6, 16, 4]

In [ ]:
print(nums)
print(nums[-1::-1])

[15, 3, 8, 20, 1, 12, 17, 5, 10, 19, 2, 14, 7, 11, 9, 18, 6, 16, 4, 13]
[13]

# **Day 08 Starts Here**

## *Tuple*

In [ ]:
pincodes = (411021, 411038, 411078, 411036, 411052)
print(pincodes)

(411021, 411038, 411078, 411036, 411052)

In [ ]:
print(pincodes[0])

411021

In [ ]:
pincodes[0] = 411035

TypeError: 'tuple' object does not support item assignment

In [ ]:
nums = 1, 2, 3, 4, 6

In [ ]:
locs = 'mumbai', 'pune'

In [ ]:
x1 = locs[0]
y1 = locs[1]
print(x1, y1)

mumbai pune

In [ ]:
x2, y2 = locs
print(x2, y2)

mumbai pune

## *Set*

In [ ]:
st1 = { 100, 58, 2, 36 }
print(st1)

{58, 2, 100, 36}

In [ ]:
st1 = { 100, 58, 2, 36, 2 }
print(st1)

# print(st1[0])

st1.add(789)
print(st1)

{58, 2, 100, 36}
{2, 100, 36, 789, 58}

In [ ]:
s1 = { 1, 2, 3 }
s2 = { 2,3, 4, 6 }

print(s1.union(s2))
print(s1.intersection(s2))
print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 6}
{2, 3}
{1, 4, 6}

In [ ]:
s1 = { 1, 2, 3, 4, 5 }
s2 = { 4, 5, 6, 7, 8 }
s3 = { 5, 6, 7, 9, 10 }

union_result = s1 | s2 | s3
intersection_result = s1 & s2 & s3
difference_result = s1 - s2 - s3

print(union_result)
print(intersection_result)
print(difference_result)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{5}
{1, 2, 3}

In [ ]:
print(s1 - s2)
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

# **Day 09 Starts Here**

## *Dictionary*

In [2]:
dc = {
      "age" : 35,
      "id" : 10,
      "balance" : 10_000,
      "name" : "Abc"
    }

In [5]:
print(f' Age of person is { dc["age"]}')
dc['age'] = 40
print(f' Age of person is { dc["age"]}')

 Age of person is 40
 Age of person is 40

In [6]:
print(dc)
dc['city'] = 'lll'
print(dc)

{'age': 40, 'id': 10, 'balance': 10000, 'name': 'Abc'}
{'age': 40, 'id': 10, 'balance': 10000, 'name': 'Abc', 'city': 'lll'}

In [8]:
dc = {
      "age" : 35,
      "id" : 10,
      "balance" : 10_000,
      "name" : "Abc",
      "age": 40
    }

print(dc)

{'age': 40, 'id': 10, 'balance': 10000, 'name': 'Abc'}

## *List Comprehension*

In [15]:
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'mango']

fruits_a = [] # empty list

# for i in [1, 2, 3, 4]:
#   print(i)

for i in fruits:
  # print(i)

  if "a" in i:
    print(i)
    fruits_a.append(i)

print(fruits_a)

apple
banana
mango
['apple', 'banana', 'mango']

In [21]:
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'mango']
fruits_a = [i for i in fruits if "a" in i]
print(fruits_a)

['apple', 'banana', 'mango']